[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-decouple = "*"
flask = "*"
flask-cors = "*"
mysql-connector-python = "*"
gunicorn = "*"
pyjwt = "*"
pytest = "*"
assertpy = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_full_version = "3.8.16"
