[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-decouple = "*"
flask = "*"
flask-cors = "*"
mysql-connector-python = "*"
gunicorn = "*"
pytest = "*"
assertpy = "*"
bcrypt = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_full_version = "3.8.16"

[scripts]
start = "nginx -s stop && cd /var/app/current/ && pipenv run pip install --requirement requirements.txt && cd api/ && pipenv run gunicorn -b 0.0.0.0:80 main:app"
build = 'python3 -m pipenv run pip freeze > requirements.txt && python3 -m pipenv run pip install --requirement requirements.txt && zip -r scribble-ai.zip . -x "*.git*" "*.venv*" "*.vscode*" "*.idea*" "*.DS_Store*"'
prod = "./prod.sh"